<div class="card border-primary mb-3 my-2">
  <div class="card-header">TO DO</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Things to do</h5>
    <div *ngIf="todos?.length == 0 && !filter" class="alert alert-info my-4" >
        No Todo's!
    </div>

    <table class="table table-bordered table-striped"  *ngIf="todos?.length > 0">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Description</th>
          <th class="text-center">Status</th>
          <th class="text-center">Image</th>
          <th class="text-center">Change Status</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let todo of todos">
            <td class="text-center">{{ todo.id }}</td>
            <td>{{ todo.description }}</td>
            <td class="text-center">{{ todo.status }}</td>
            <td class="text-center">
              <img *ngIf="todo?.file" src = "{{url}}{{todo.file}}" class="rounded mx-auto d-block" alt="..."
              style="width:64px; cursor:pointer">
              <img *ngIf="!todo?.file" src = "http://localhost:8080/image/not-user.png" class="rounded mx-auto d-block " alt="..."
              style="width:40px; cursor:pointer">
            </td>
            <td class="text-center">
              <div class="col text-center">
                  <button *ngIf="todo.status == 'PENDING' else elseBlock"class="btn btn-success btn-sm" (click)="resolved(todo.id)">RESOLVE</button>
                  <ng-template #elseBlock>
                    <label for="solved">SOLVED</label>
                  </ng-template>
              </div>

            </td>
          </tr>
        </tbody>
    </table>

  </div>
</div>
<div *ngIf="((todos?.length == 0 && filter) || todos?.length > 0)" class="row container-fluid margin-t">
  <div class="col-lg-2 col-xl-2">
    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup">ID</span>
      </div>
      <input [(ngModel)]="id" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup">
    </div>
  </div>

  <div class="col-lg-4 col-xl-4">
    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup">Description</span>
      </div>
      <input [(ngModel)]="description" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup">
    </div>
  </div>

  <div class="col-lg-3 col-xl-3">
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup">Status</span>
        </div>
        <select [(ngModel)]="status" class="custom-select" id="inputGroupSelect01">
          <option value="" disabled selected>Please select</option>
          <option value="PENDING">Pending</option>
          <option value="DONE">Done</option>
        </select>
      </div>
  </div>

  <div class="col">
    <button class="btn btn-info btn-block" (click)="filterClick()" type="button">Filter</button>
  </div>
  <div class="col">
      <button class="btn btn-danger btn-block" (click)="clearFilter()" type="button">Clear</button>
  </div>
</div>
