<div class="card bg-dark text-white my-2" >
  <div class="card-header">{{ title }} </div>
  <div class="card-body">

    <form (ngSubmit)="create()" #todoForm="ngForm">

      <div class="form-group" >
        <label for="description">Description</label>
        <input type="text" [(ngModel)]="todo.description"
        maxlength="255"
        class="form-control"
        name="description"
        id="description"
        placeholder="Enter todo's description"
        required #description="ngModel">
      </div>

      <div class="alert alert-danger" *ngIf="(description.invalid) && (description.dirty || description.touched)" >
        <div *ngIf="description.errors.required">
              Description required
        </div>
      </div>


      <div class="form-group my-4">
        <input (change)="chooseFile($event)"
        type="file"
        class="form-control-file bg-white"
        id="image" accept=".jpg,.png">
        <label
        for="image"><small>Attach an image</small></label>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!todoForm.form.valid">Submit</button>

    </form>

  </div>
</div>
